* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #051622;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
}

.navbar a{
  float: left;
  display: block;
  color: #1BA098;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

